/Algorithms/HW1/1_1/.idea/
/Algorithms/HW1/1_1/cmake-build-debug/
/Algorithms/HW1/1_2/.idea/
/Algorithms/HW1/1_2/cmake-build-debug/
/Algorithms/HW1/1_3/.idea/
/Algorithms/HW1/1_3/cmake-build-debug/
/Algorithms/HW1/1_4/.idea/
/Algorithms/HW1/1_4/cmake-build-debug/
/ML/DZ1/.ipynb_checkpoints/
/python/PythonCourse/.idea/
